<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEGU Yazılım - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SEGU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#home">Ana Sayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Hizmetler</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">Hakkımızda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects">Projeler</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>SEGU Yazılım</h5>
                    <p>Geleceğin teknolojilerini bugünden inşa ediyoruz.</p>
                </div>
                <div class="col-md-4">
                    <h5>İletişim</h5>
                    <p>
                        <i class="bi bi-geo-alt"></i> İstanbul, Türkiye<br>
                        <i class="bi bi-envelope"></i> info@segu.com<br>
                        <i class="bi bi-phone"></i> +90 555 555 5555
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Sosyal Medya</h5>
                    <div class="social-links">
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-twitter-x"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
